{% load static %}
<!doctype html>
<html>
    <head>
        <title>Novel Viewpoint Generation</title>

        <style>
            .row {
              display: flex;
                flex-wrap: wrap;
            }

            .column {
              flex: 33.33%;
                flex-wrap: wrap;
              padding: 5px;
            }

            label {
                  white-space: pre-wrap;
                }



        </style>
	<script
	  src="https://code.jquery.com/jquery-3.4.1.min.js"
	  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	  crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

	<script>
	    var isBusy = false
	   	$(document).ready(function() {
					
				$('#submit_button').bind('click', function () {
					if (isBusy) {
						return false;
					}

					isBusy = true;
					
					var fileInput = document.getElementById('file');
					var file = fileInput.files[0];
					var formData = new FormData();
					formData.append('file', file);

					var xhr = new XMLHttpRequest();
					// Add any event handlers here...
					xhr.open('POST', '/', true);
					xhr.send(formData);

					isBusy = false;
				});

	   	});
	</script>
    </head>
    <body>

	<label for="file">Select image file:</label>
	<input type="file" name="file" id="file" required>

        <!-- {{ form.as_table }} -->
	<button type="submit" id="submit_button">Upload</button>

	<div id="results"></div>
    </body>
</html>
